<div class="background">
    <div class="content" >
        <mat-icon style="color: white; cursor: pointer; margin: 15px auto 0 15px;" *ngIf="showContent == 1 || showContent == 2" (click)="changeContent(0)">arrow_back</mat-icon>
        <div *ngIf="showContent == 0" class="page">
            <h1 style="margin-top: 10%; color: white; margin-bottom: 2px;">Welcome,</h1>
            <div style="color: white; margin-bottom: 20px;">to use this application you need to login or create new account</div>
            <div style="margin-top: auto; margin-bottom: 10%;">
                <button mat-stroked-button color="primary" style="background-color: white; margin: 0 5px" (click)="changeContent(1)">Login</button>
                <button mat-stroked-button color="primary" style="background-color: white;" (click)="changeContent(2)">Register</button>
            </div> 
        </div> 
        
        <div *ngIf="showContent == 1" class="page">
            <h1 style="color: white;">Login</h1>
            <div>
                <mat-form-field style="margin-right: 10px;">
                    <mat-label>Name</mat-label>
                    <input matInput [formControl]="loginForm.get('name')" autocomplete="off" required>
                    <mat-error *ngIf="loginForm.get('name').errors != null">You must enter a value</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" [formControl]="loginForm.get('password')" autocomplete="off" required>
                    <mat-error *ngIf="loginForm.get('password').errors != null">You must enter a value</mat-error>
                </mat-form-field>
            </div>
            <mat-error *ngIf="msg">{{msg}}</mat-error>
            <button mat-stroked-button color="primary" style="margin-top: 10px;" [disabled]="loginIsValid()" (click)="login()">Login</button>
        </div>

        <div *ngIf="showContent == 2" class="page">
            <h1 style="color: white;">Create new account</h1>
            <div>
                <mat-form-field style="margin-right: 10px;">
                    <mat-label>Name</mat-label>
                    <input matInput [formControl]="registerForm.get('name')" autocomplete="off" required>
                    <mat-error *ngIf="registerForm.get('name').errors != null">You must enter a value</mat-error>
                </mat-form-field>
                <mat-form-field style="margin-right: 10px;">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" [formControl]="registerForm.get('password')" autocomplete="off" required>
                    <mat-error *ngIf="registerForm.get('password').errors != null">You must enter a value</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Repeat Password</mat-label>
                    <input matInput type="password" [formControl]="registerForm.get('repeat')" autocomplete="off" required>
                    <mat-error *ngIf="hasError()">{{hasError()}}</mat-error>
                </mat-form-field>
            </div>
            <mat-error *ngIf="msg">{{msg}}</mat-error>
            <button mat-stroked-button color="primary" style="margin-top: 10px;" [disabled]="regIsValid()" (click)="register()">Register</button>
        </div>

        <div *ngIf="showContent == 3" class="page">
            <div style="margin-top: 20px;">
                <input placeholder="Create new project" type="text" style="height: 36px; width: 150px; padding: 0 15px; border-radius: 4px; outline: none; border: 1px solid white;" [(ngModel)]="projectName">
                <mat-icon style="position: absolute; cursor: pointer; margin-left: -30px; margin-top: 8px;" class="delete" (click)="createNew()">add</mat-icon> 
            </div>
            <mat-selection-list [multiple]="false">
                <mat-list-option *ngFor="let item of projectService.projectList" (click)="projectService.selectProject(item)" style="color: white;">
                    <div style="display:flex; align-items: center;">
                        <div>{{item.name}}</div>
                        <mat-icon style="margin-left: 20px;" class="delete" (click)="projectService.deleteProject(item)">close</mat-icon> 
                    </div>          
                </mat-list-option>
            </mat-selection-list>
        </div> 
    </div> 
</div>
