<div style="text-align: center;"><div style="color: white; display: inline-block; margin-top: 5px;">Pattern Properties</div></div>
<div *ngIf="patternService.selectedPattern != null" style="min-width: 370px;">
    <div style="margin: 20px 30px 0px;">
        <div style="float: left;">
            <p style="margin: 0px; color: white; font-size: 12px;">Name:</p>
            <input type="text" [(ngModel)]="patternService.selectedPattern.name" style="margin-bottom: 10px; width: 120px; text-align: center;  border-radius: 3px; 
            padding: 5px 0px; color: white; background-color: #555961; outline: none; border:none">

            <div class="button" (click)="patternService.edit()" [style.background-color]="patternService.showEditor ? '#757981' : '#555961'">Edit Pattern</div>
            <div class="button" (click)="patternService.duplicatePattern(patternService.selectedPattern)">Duplicate Pattern</div>
            <div class="button" style="background-color: #69474b;" (click)="patternService.deletePattern(patternService.selectedPattern)">Delete Pattern</div>  
        </div>
        <div style="margin-left: 50px; display: inline-block;">
            <p style="margin: 0px; color: white; font-size: 12px;">Scale offset:</p>
            <mat-slider [max]="4" [min]="0" [thumbLabel]="true" [(ngModel)]="this.patternService.selectedPattern.offset" (input)="onMovChange($event)" color="primary"></mat-slider>
        </div>
    </div>   
</div>
