<button class="button" style="margin-right: 150px;"><mat-icon>view_list</mat-icon></button>
<div style="display: inline-block; height: 50px;">
    <button class="button"><mat-icon>fast_rewind</mat-icon></button>
    <button class="button"><mat-icon>play_arrow</mat-icon></button>
    <button class="button"><mat-icon>stop</mat-icon></button>
    <button class="button"><mat-icon>fast_forward</mat-icon></button>
    <div class="timer">0:00.00</div>
</div>
<div class="audio"><div></div><div></div></div>
