<div style="display: inline-block;">
    <button class="button" (click)="dropdown = !dropdown" style="margin-right: 150px;"><mat-icon>view_list</mat-icon></button>
    <div class="dropdown-content" [style.display]="dropdown ? 'block' : 'none'">
        <mat-selection-list [multiple]="false" style="padding-top: 0;">
            <mat-list-option (click)="save()">
                <div>Save</div>       
            </mat-list-option>
            <mat-list-option (click)="router.navigate(['start']);">
                <div>Close project</div>       
            </mat-list-option>
        </mat-selection-list>
    </div>  
</div>


<div style="display: inline-block;">
    <button class="button"><mat-icon>fast_rewind</mat-icon></button>
    <button class="button" (click)="play()"><mat-icon>play_arrow</mat-icon></button>
    <button class="button" (click)="stop()"><mat-icon>stop</mat-icon></button>
    <button class="button" (click)="songService.test()"><mat-icon>fast_forward</mat-icon></button>
    <div class="timer">{{Math.floor(songService.clock/60)}}:{{songService.clock.toLocaleString('en-us', {minimumIntegerDigits: 2, maximumFractionDigits: 2, minimumFractionDigits: 2})}}</div>
</div>
<div class= "buttonL" (click)="userService.userClicked()">
    <div style="font-size: 16px; display: inline-block; margin: auto 6px; color: white;">{{userService.isLogged ? userService.user.name : "Login"}}</div>
    <div style="border-radius: 35px; width: 35px; height: 35px; background-color: gray;" [hidden]="!userService.isLogged"></div>
</div>
