<div class="mainGrid" (contextmenu)="($event.preventDefault())" (mousedown)="mouseDown($event)" (dragover)="onDragOver($event)">
    <div *ngFor="let num of [].constructor(20); index as i" [style.grid-row]="i+1" [style.grid-column]="1" style="background-color: #b9fac5; width: 25px;">{{i+1}}</div>
    <div *ngFor="let item of projectService.selectedProject.patterns; index as i" class="test" [style.grid-row]="item.x" [style.grid-column]="item.y" [style.width]="item.width+'px'" [style.background-color]="item.color"
    (contextmenu)="onRightClick(item, $event)" draggable="true" (drag)="onDrag(item, $event)" (dragstart)="onDragStart($event, item)">{{item.patt.name}}</div>
    <div class="arrow" [style.margin-left]="songPlayer.ticks-16+'px'"><div class="line"></div></div>
</div>