<div class="mainGrid" (mousedown)="mouseDown($event)" (contextmenu)="($event.preventDefault())" (dragover)="onDragOver($event)" *ngIf="patternService.selectedPattern != null">
    <div *ngFor="let key of keys; index as i" class="key test" [style.grid-row]="(i+1)">{{key}}{{patternService.selectedPattern.offset+3}}</div>
    <div *ngFor="let key of keys; index as i" class="key test" [style.grid-row]="(i+1)+7">{{key}}{{patternService.selectedPattern.offset+2}}</div>
    <div *ngFor="let key of keys; index as i" class="key test" [style.grid-row]="(i+1)+14">{{key}}{{patternService.selectedPattern.offset+1}}</div>
    <div class="arrow" [style.margin-left]="player.ticks+13+'px'"><div class="line"></div></div>
    <div *ngFor="let note of patternService.selectedPattern.notes; index as i" class="test" [style.grid-row]="note.key" [style.grid-column]="note.col" [style.background-color]="note.color"
    (contextmenu)="onRightClick(note, $event)" draggable="true" (drag)="onDrag(note, $event)" (dragstart)="onDragStart($event, note)"></div>
</div>